/* Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import "../css/partial/variables.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: var(--text-color);
}

/* General starts */
a {
  color: var(--text-color);
}
button {
  border: none;
  outline: none;
}
input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}
.btn {
  display: inline-block;
  border-radius: 0.2rem;
  transition: all 250ms ease-in;
}
.prim-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 2px solid transparent;
}
.prim-btn:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.sec-btn {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.sec-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 2px solid transparent;
}

.container {
  padding: 0 5%;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1250px;
    margin: 0 auto;
  }
}
.sect {
  padding: 5rem 0;
}
@media only screen and (max-width: 870px) {
  .sect {
    padding: 3rem 0;
  }
}
.sect-heading h2 {
  position: relative;
  margin-bottom: 2rem;
  font-size: 30px;
  font-weight: 500;
}
.sect-heading h2::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  left: -0.5rem;
  background-color: var(--primary-color);
}

.clickable {
  cursor: pointer;
}
h5 {
  font-size: 20px;
  font-weight: 500;
}
/* General ends */

/* Header starts */
.header {
  width: 100%;
  height: 100vh; /* Change to 90vh if I decide to use Register form*/
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  position: relative;
}
@media only screen and (max-height: 450px) {
  .header {
    height: 600px;
  }
}
/* Nav starts */
.header nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 15px 0;
  background-color: var(--white-color);
  box-shadow: 0 1px 4px #85ffbd;
  /* box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15); */
}
.header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav .nav-list-area {
  display: flex;
  align-items: center;
}

.header nav .nav-list li {
  display: inline-block;
  margin: 0 20px;
  font-weight: 600;
  position: relative;
}
.header nav .nav-list li a::after,
.header nav .nav-list li .active-link::after {
  content: "";
  width: 100%;
  height: 0.18rem;
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--primary-color);
  opacity: 0;
  transition: 0.2s all ease-in;
}
.header nav .nav-list li .active-link::after {
  opacity: 1 !important;
}
.header nav .nav-list li a:hover::after {
  opacity: 1;
}
.header nav .nav-list-area .btn {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  font-weight: 500;
}
.header nav .toggle-menu {
  cursor: pointer;
  margin-top: -6px;
  display: none;
}
.header nav .toggle-menu .menu-bar {
  width: 2rem;
  height: 2px;
  background-color: var(--text-color);
  display: inline-block;
  position: relative;
  transition: background-color 0.5s;
}
.header nav .toggle-menu .menu-bar::before,
.header nav .toggle-menu .menu-bar::after {
  content: "";
  position: absolute;
  height: inherit;
  background-color: inherit;
  transition: all 0.5s;
}
.header nav .toggle-menu .menu-bar::before {
  width: inherit;
  top: -0.6rem;
}
.header nav .toggle-menu .menu-bar::after {
  width: 1rem;
  top: 0.6rem;
}
.open-menu .menu-bar {
  background-color: transparent !important;
}
.open-menu .menu-bar::before {
  top: 0 !important;
  transform: rotate(135deg);
  background-color: var(--text-color) !important;
}
.open-menu .menu-bar::after {
  top: 0 !important;
  transform: rotate(-135deg);
  background-color: var(--text-color) !important;
  width: inherit !important;
}
/* Media query */
@media screen and (max-width: 870px) {
  .header nav .nav-list {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--text-color);
    transition: 0.5s;
  }
  .header nav .nav-list.open-menu {
    left: 0;
  }
  .header nav .nav-list-area .btn {
    margin: 0 1rem 0 0;
  }
  .header nav .toggle-menu {
    display: block;
  }
  .header nav .nav-list li {
    display: block;
    margin-bottom: 2rem;
  }
  .header nav .nav-list li a {
    color: var(--white-color) !important;
  }
}
/* Nav ends */

/* Hero starts */
.hero {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 870px) {
  .hero-details {
    flex-basis: 45%;
  }
}
.hero-details h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.hero-details p {
  margin: 0.5rem 0 2rem 0;
  color: var(--text-color2);
}
@media only screen and (max-width: 768px) {
  .hero-details h1 {
    font-size: 2.5rem;
  }
}
.hero-details h1 span {
  color: var(--primary-color);
}
.hero-details .btn {
  padding: 0.75rem 2.5rem;
  font-weight: 600;
}
@media only screen and (max-width: 870px) {
  .hero-img {
    display: none;
  }
}
.hero-img img {
  max-width: 100%;
  display: block;
}
/* Hero ends */

/* Register Area */
.register-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f2f5f6a4;
  display: flex;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}
.register-area.show-modal {
  opacity: 1;
  visibility: visible;
}
.register {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 4px;
  margin: auto;
  width: 30%;
  box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 870px) {
  .register {
    width: 90%;
  }
}
.register h5 {
  margin-bottom: 1.5rem;
}
.register form {
  display: grid;
  grid-gap: 1rem;
}
.register form input {
  width: 100%;
  font-size: 18px;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--light-grey);
  outline: none;
}
.register form .form-btn .btn {
  padding: 0.5rem 1rem;
}

/* Chat-bot */
.chat-bot {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: inline-block;
  background-color: #075e54;
  border-radius: 50%;
  padding: 8px;
  animation: chat-bot 0.5s ease-in-out infinite;
}
.chat-bot:hover {
  animation-play-state: paused;
}
.chat-bot img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
@keyframes chat-bot {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Header ends */

/* About starts */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 870px) {
  .about-content {
    display: grid;
    grid-gap: 2rem;
  }
}
.about-details {
  flex-basis: 45%;
}
.about-details p {
  color: var(--text-color2);
}
.about-img {
  flex-basis: 50%;
}
.about-img img {
  width: 100%;
}
/* About ends */

/* Services starts */
.service-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.service-item {
  border: 1px solid var(--light-grey);
}
.service-item .inner-box {
  border-top: 4px solid transparent;
  padding: 2rem;
  transition: all 500ms ease;
}
.service-item:hover .inner-box {
  border-top-color: var(--primary-color);
  background-color: var(--light-green);
}
.service-item h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 1rem 0;
}
.service-item p {
  color: var(--text-color2);
}
/* Services ends */

/* Testimonial starts */
.testi-heading {
  margin-bottom: 2rem;
}
.testi-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.testi-item {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.testi-item .quote {
  font-size: 30px;
  color: var(--primary-color);
}
.testi-item p {
  color: var(--text-color2);
  margin: 1rem 0;
  position: relative;
  padding-bottom: 10px;
}
.testi-item p::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: var(--light-grey);
  width: 50px;
  height: 2px;
}
.testi-item figure img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--light-grey);
}
.testi-item figure figcaption {
  font-weight: 500;
}
/* Testimonial ends */

/* Contact us starts */
.contact {
  background-color: var(--light-green);
}
@media only screen and (min-width: 870px) {
  .contact .container {
    display: flex;
    /* justify-content: space-between; */
  }
}
.contact-form-area {
  background-color: var(--white-color);
  padding: 2rem;
  border-radius: 4px;
  flex-basis: 50%;
}
.contact-form-area h5 {
  margin-bottom: 1.5rem;
}
.contact-form-area form {
  display: grid;
  grid-gap: 1.5rem;
}
.contact-form-area form input,
.contact-form-area form textarea {
  width: 100%;
  font-size: 18px;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--light-grey);
  outline: none;
}
.contact-form-area form .form-btn .btn {
  font-size: 17px;
  padding: 0.5rem 1rem;
}
.contact-image {
  flex-basis: 50%;
}
.contact-image iframe {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 870px) {
  .contact-image iframe {
    height: 300px;
  }
}
/* Contact us ends */

/* Btc chart starts */
/* .btc-chart {

} */
.btc-chart #tradingview {
  width: 100%;
  height: 55vh;
}
/* Btc chart ends */
